html {
  font-family: helvetica, sans-serif;
}

.blue {
  color: blue;
}

.bold {
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  background-image: url("../img/pattern.jpeg");
  font-size: 100px;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}
